// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$color-primary: #27262c;
$color-secondary: #ffe2c7;
$color-white: #fff;
