// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");
// Variables
@import "variables";
// Bootstrap
@import "bootstrap/scss/bootstrap";

// lp画面
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-weight: bold;
}

.carousel-item {
    background-color: #27262c;
}

.carousel-item img {
    height: 100vh; /* ビューポートの高さの50% */
    width: 100%;
    object-fit: cover;
    opacity: 0.7;
}

.logo-ver {
    margin-bottom: 200px;
}

// login画面
.py-4 {
    background-color: #27262c;
    width: 100vw;
    height: 110vh;
}

.header-color {
    background-color: #ffe2c7;
}

.login-container {
    margin-top: 150px;
}

.login-container-word {
    text-align: center;
    color: #ffe2c7;
    margin-bottom: 50px;
    font-size: 50px;
}

.card-body {
    margin: 20px 20px;
}

.login-container-form {
    color: #ffffff;
}

.login-form {
    background-color: #ffe2c7; /* これはテキストの色です */
}

.btn-primary {
    background-color: #ffe2c7;
    color: black;
}

.login-password {
    color: #ffffff;
    font-size: 16px;
}

// choose_resister画面
.font-right {
    color: black;
    font-size: 32px;
    white-space: nowrap;
    border-width: 1px !important;
    background-color: var(--bs-warning-bg-subtle) !important;
}

.font-right:hover {
    background-color: var(--bs-warning) !important;
}

.font-left {
    color: #ffffff;
    margin-top: 100px;
}

// player_register画面

.font-left-player {
    margin-top: 100px;
    color: #ffffff;
}

.font-right-player {
    color: #ffffff;
}

.completion {
    background-color: #27262c;
    min-height: 100vh;
    width: 100%;
}

.completion-logo {
    width: 500px;
}

.error {
    margin-left: 20px;
    color: red;
}

.player-info-nav {
    text-decoration: underline;
    font-size: 30px;
    padding: 10px 10px 10px 10px;
    color: #ffffff;
}

.navbar {
    padding: 0;
}

.list-group-item {
    margin-bottom: 50px;
    text-decoration: none;
    font-size: 20px;
}

.container-fluid {
    background-color: #27262c;
}

.menu {
    background-color: #27262c;
    color: #ffffff;
}

.video-post-texare {
    resize: none;
}

.fieldset-border {
    border: 1px solid #27262c; /* 線の色をダークグレーに */
    padding: 20px;
    margin-top: 20px; /* 上にマージンを設ける */
    margin-bottom: 20px; /* 下にマージンを設ける */
    border-radius: 5px; /* 角を丸める */
    background-color: #f0f0f0;
}

.fieldset-border {
    border-top: 2px solid #27262c; /* 上の線を少し太くして強調 */
}

.fieldset-border legend {
    font-size: 1.2em; /* フォントサイズを大きく */
    font-weight: bold; /* フォントを太く */
    width: auto; /* コンテンツの幅に合わせる */
    padding: 0 10px; /* テキストの周囲に余白を設ける */
    margin-bottom: 10px; /* 下に余白を設ける */
    border-bottom: 1px solid #27262c; /* レジェンドの下に線を引く */
}
