// Fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&display=swap");
@import "variables";
// Bootstrap
@import "bootstrap/scss/bootstrap";

body {
    font-family: "Lato", sans-serif;
    font-family: "Rubik Burned", system-ui;
    background-color: #27262c;
}

// エラーメッセージ
.error-message {
    color: red;
    margin-left: 10px;
    font-size: 0.8em;
}

// ナビバー
.navbar {
    padding: 20px;
    background-color: #ffe2c7;
    width: 100%;
}

.header-login {
    color: #27262c;
    font-size: 22px;
    margin: 0 20px 0 0;
    text-decoration: none; /* ホバー前は下線なし */
    transition: text-decoration 0.3s; /* 下線の表示をスムーズに */
}

.header-login:hover {
    text-decoration: underline; /* ホバー時に下線を表示 */
}

.header-signup {
    color: #fff;
    background-color: #27262c;
    font-size: 20px;
    display: inline-block;
    border-radius: 10px;
    padding: 10px 20px;
}

.header-title {
    font-size: 40px;
    height: 48px;
    display: block;
}

// カルーセル画面
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -60%);
    color: #ffe2c7;
    font-weight: bold;
}

.carousel-caption__main {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -0%);
    color: #ffe2c7;
    font-weight: bold;
}

.top-title__sub {
    font-size: 40px;
    font-weight: bold;
    color: black;
    background-color: #ffe2c7;
    opacity: 0.8;
    padding: 20px 20px;
}

.top-title {
    font-size: 79px;
    padding-top: 160px;
    font-weight: bold;
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 3px white;
}

.brake {
    display: inline;
}

.carousel-item {
    background-color: #27262c;
}

.carousel-item img {
    height: 100vh; /* ビューポートの高さの50% */
    width: 100%;
    object-fit: cover;
    opacity: 0.7;
}

// login画面
.login-container {
    margin-top: 150px;
}

.login-container-word {
    text-align: center;
    color: #ffe2c7;
    margin-bottom: 50px;
    font-size: 50px;
}

.card-body {
    margin: 20px 20px;
}

.login-container-form {
    color: #ffffff;
}

.login-form {
    background-color: #ffe2c7; /* これはテキストの色です */
}

.btn-primary {
    background-color: #ffe2c7;
    color: black;
}

.login-password {
    color: #ffffff;
    font-size: 16px;
}

// choose_resister画面
.font-right {
    color: black;
    font-size: 32px;
    white-space: nowrap;
    border-width: 1px !important;
    background-color: var(--bs-warning-bg-subtle) !important;
}

.font-right:hover {
    background-color: var(--bs-warning) !important;
}

.font-left {
    color: #ffffff;
    margin-top: 100px;
}

// player_register画面

.font-left-player {
    margin-top: 100px;
    color: #ffffff;
}

.font-right-player {
    color: #ffffff;
}

.completion {
    background-color: #27262c;
    min-height: 100vh;
    width: 100%;
}

.completion-logo {
    width: 500px;
}

.error {
    margin-left: 20px;
    color: red;
}

.player-info-nav {
    text-decoration: underline;
    font-size: 30px;
    padding: 10px 10px 10px 10px;
    color: #ffffff;
}

.list-group-item {
    margin-bottom: 50px;
    text-decoration: none;
    font-size: 20px;
}

.menu {
    background-color: #27262c;
    color: #ffffff;
}

.video-post-texare {
    resize: none;
}

.fieldset-border {
    border: 1px solid #27262c; /* 線の色をダークグレーに */
    padding: 20px;
    margin-top: 20px; /* 上にマージンを設ける */
    margin-bottom: 20px; /* 下にマージンを設ける */
    border-radius: 5px; /* 角を丸める */
    background-color: #f0f0f0;
}

.fieldset-border {
    border-top: 2px solid #27262c; /* 上の線を少し太くして強調 */
}

.fieldset-border legend {
    font-size: 1.2em; /* フォントサイズを大きく */
    font-weight: bold; /* フォントを太く */
    width: auto; /* コンテンツの幅に合わせる */
    padding: 0 10px; /* テキストの周囲に余白を設ける */
    margin-bottom: 10px; /* 下に余白を設ける */
    border-bottom: 1px solid #27262c; /* レジェンドの下に線を引く */
}

.history-table {
    font-size: 18px;
}
